.todo-operations {
    width: 100%;
    padding: 16px;
    background-color: white;
    border-bottom: 1px #f5f5f5 solid;
    display: flex;

    .filters {
        margin-left: -60px;
        display: flex;
        flex-grow: 1;
        justify-content: center;

        div {
            margin-right: 14px;
            border-radius: 2px;
            padding: 2px 6px;

            &.checked {
                border: #ECD8D7 1px solid;
            }

            &.normal {
                border: #ffffff 1px solid;
            }

            &:hover {
                border: #ECD8D7 1px solid;
            }
        }

    }
}